.vault-password
.cursor
inventory/staging/credentials
inventory/production/credentials
inventory/staging/artifacts
inventory/production/artifacts
inventory/staging/group_vars/all/vault.yml
inventory/production/group_vars/all/vault.yml