flags:
  watchSingleNamespace: {{ arc_lane.namespace }}

serviceAccount:
  create: true
  name: {{ arc_controller_service_account }}

nodeSelector:
  node-role.kubernetes.io/control-plane: ""

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
