[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
Type=simple
ExecStart={{ node_exporter_bin_dir }}/node_exporter \
  --web.listen-address={{ node_exporter_listen_address }} \
  --collector.textfile.directory={{ node_exporter_textfile_dir }} \
{% for collector in node_exporter_collectors_enabled %}
  --collector.{{ collector }} \
{% endfor %}
{% for collector in node_exporter_collectors_disabled %}
  --no-collector.{{ collector }}{% if not loop.last %} \{% endif %}
{% endfor %}

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
