---
apiVersion: v1
kind: Secret
metadata:
  name: {{ am_teams_adapter_name }}-target
  namespace: {{ am_teams_adapter_namespace }}
  labels:
    app.kubernetes.io/name: {{ am_teams_adapter_name }}
    app.kubernetes.io/component: webhook-adapter
    app.kubernetes.io/managed-by: ansible
type: Opaque
stringData:
  TARGET_URL: "{{ am_teams_adapter_target_url }}"
